<% title "Сериалы" %>
<div class="row">
  <div class="medium-12 column">
    <p></p>
    <table width="100%">
      <caption>Количество сериалов: <%= @shows.count %></caption>
      <thead>
      <tr>
        <th>id</th>
        <th></th>
        <th>Название</th>
        <th>Сезонов</th>
        <th>Статус</th>
        <th>Обновлен</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%- @shows.each do |show| %>
      <tr>
        <td><%= show.id %></td>
        <td><%= image_tag show.poster.url(:thumb), alt: show.title_ru, width: 60%></td>
        <td><%= show.title_ru %></td>
        <td><%= show.seasons.count %></td>
        <td><%= show.status %><%== airs show %></td>
        <td><%= show.updated %></td>
        <td>
          <a class="button tiny expand" href="<%= admin_show_path show %>">Настройки</a>
        </td>
      </tr>
     <% end -%>
      </tbody>
    </table>
  </div>
</div>