<% title "Главная страница" %>
<ul class="mainpage-slider" data-orbit data-options="animation:fade;">
<% @shows.take(3).each do |s| %>
      <li>
        <%= image_tag s.fanart.url(:original), alt: s.title_ru%>
        <div class="orbit-caption">
          <%= s.title_ru %>
        </div>
      </li>
<% end %>
</ul>
<div class="row mainpage">
  <div class="medium-8 column">
    <h4>Популярные сериалы</h4>
    <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
      <% @shows.take(6).each_with_index do |s, index| %>
      <li class="show_item">
        <%= image_tag s.poster.url(:thumb), alt: s.title_ru%>
        <%= link_to s.title_ru, show_path(s.slug_ru), class:"title"  %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="medium-4 column">
    <h4>Новые сериалы</h4>
    <ul class="small-block-grid-3 medium-block-grid-2 large-block-grid-3">
      <% @new_shows.each_with_index do |s, index| %>
          <li class="show_item">
            <%= image_tag s.poster.url(:thumb), alt: s.title_ru%>
            <%= link_to s.title_ru, show_path(s.slug_ru), class:"title"  %>
          </li>
      <% end %>
    </ul>
  </div>
</div>