<%
   title "HD-Serials"
   description "Смотреть сериалы онлайн в высоком качестве (HD, 720p) бесплатно"
%>
<section class="main-page-fanart page-fanart show-for-medium-up" data-no-transition-cache>
  <article class="fanart-slide">
    <div class="poster"><img src="<%= @random_show.poster.url(:thumb) %>" alt="<%= @random_show.title_ru %>"/></div>
    <h1 class="title_ru"><%= @random_show.title_ru %></h1>
    <div class="title_en"><%= @random_show.title_en %></div>
    <div class="awwards-list">
      <div class="awwards imdb"><div class="count"><%= @random_show.rating.imdb_rating.value %></div></div>
      <div class="awwards kinopoisk"><div class="count"><%= number_with_precision @random_show.rating.kp_rating.value, precision: 1 %></div></div>
    </div>
  </article>
  <img src="<%= @random_show.fanart.url(:original) %>" alt="<%= @random_show.title_ru %>"/>
</section>
<section class="main-page">
    <div class="row">
      <div class="medium-8 column popular">
        <h4>Популярные сериалы</h4>
        <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-6">
          <% @popular_shows.each do |s| %>
          <li class="show_item">
            <a href="<%= show_path(s.slug_ru) %>"><%= image_tag s.poster.url(:thumb), alt: s.title_ru%></a>
            <%= link_to s.title_ru, show_path(s.slug_ru), class:"title"  %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="medium-4 column new">
        <h4>Новые сериалы</h4>
        <ul class="small-block-grid-3 medium-block-grid-2 large-block-grid-3">
          <% @new_shows.each do |s| %>
              <li class="show_item">
                <a href="<%= show_path(s.slug_ru) %>"><%= image_tag s.poster.url(:thumb), alt: s.title_ru%></a>
                <%= link_to s.title_ru, show_path(s.slug_ru), class:"title"  %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-8 medium-push-4 column new-episodes">
          <h4>Новые эпизоды</h4>
          <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-4">
            <% @new_episodes.each do |s| %>
                <li class="show-episode">
                  <div class="show-screenshot">
                      <a href="<%= show_episode_path(s.show.slug_ru, "%02d" % s.season.number, "%02d" % s.number) %>">
                        <img src="<%= s.screenshot.url(:original) %>"/>
                      </a>
                  </div>
                  <div class="show-title">
                    <a href="<%= show_episode_path(s.show.slug_ru, "%02d" % s.season.number, "%02d" % s.number) %>"><%= s.show.title_ru %></a>
                  </div>
                  <div class="show-meta">сезон <%= s.season.number %>, эпизод <%= s.number %></div>
                  <div class="episode-date"><%= Russian::strftime(s.first_aired, "%e %B %Y")%></div>
                </li>
            <% end %>
          </ul>
      </div>
      <div class="small-12 medium-4 medium-pull-8 column">
        <div class="about-block">
            <h5>Бесплатный онлайн кинотеатр<br>HD-Serials.TV: фильмы в хорошем качестве всегда приносят настоящее удовольствие</h5>
            <p>Каждый день миллионы людей ищут фильмы онлайн и никто не хочет усложнять себе жизнь – и вы наверняка один из них!
              А раз так, то HD-Serials.TV – это именно тот ресурс, который вам нужен, если вы хотите смотреть фильмы онлайн бесплатно и
              без регистрации. Потому что именно наш сайт является настоящим Эльдорадо для киноманов.</p>
            <p>Мы дарим вам смех, адреналин, взрывные эмоции – а вы при этом не тратите ничего! Хотите смотреть кино
              без регистрации? Пожалуйста, выбирайте и смотрите – мы экономим ваше время. На сайте доступен бесплатный
              просмотр фильмов – мы экономим ваши деньги. И нет, все вышесказанное не значит, что картины будут в плохом качестве.
              Как раз наоборот! И мы снова экономим – ваши усилия, которые могли быть потрачены на попытки разобрать невнятные диалоги,
              некачественный перевод, расплывчатую картинку.</p>
            <p>Быстро, бесплатно, захватывающе – вот что такое кинопросмотр с HD-Serials.TV!</p>
        </div>
      </div>
    </div>
    <section class="top-ten row hide-for-small p-t-30">
        <div class="small-12">
          <h2>ТОП-10 сериалов</h2>
          <ul class="medium-block-grid-4 large-block-grid-5 p-t-20">
            <% @top_ten.each do |s| %>
              <li>
                <article class="top-ten-item">
                  <div class="poster" data-height-equalize="<%= number_with_precision s.poster.aspect_ratio(:thumb), precision: 3 %>">
                    <a href="<%= show_path s.slug_ru %>"></a>
                    <img src="<%= s.poster.url(:thumb) %>" alt="<%= s.title_ru %>" />
                    <div class="poster pos-<%= s.id %>"></div>
                    <div class="titles">
                      <h1 class="title_ru"><%= s.title_ru %></h1>
                      <div class="title_en"><%= s.title_en %></div>
                      <div class="awwards-list">
                        <div class="awwards imdb"><div class="count"><%= number_with_precision s.rating.imdb_rating.value, precision: 1 %></div></div>
                        <div class="awwards kinopoisk"><div class="count"><%= number_with_precision s.rating.kp_rating.value, precision: 1 %></div></div>
                      </div>
                    </div>
                  </div>
                </article>
              </li>
            <% end %>
          </ul>
        </div>
    </section>
</section>