<% title @show.title_ru %>
    <div class="show-fanart show-for-medium-up">
        <img src="<%= @show.fanart.url(:original) %>"/>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="row show-details">
          <div class="medium-4 small-centered medium-uncentered columns show-poster">
            <img src="<%= @show.poster.url(:medium) %>" alt="<%= @show.title_ru  %>"/>
          </div>
          <div class="medium-8 columns show-description">
            <h1><%= @show.title_ru %></h1>
            <div class="description"><%= @show.description_ru %></div>
            <img src="<%= @show.thumb.url %>" alt=""/>
            <h5>Актеры:</h5>
            <div class="people-list">
              <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
                <% @show.casts.each do |cast| %>
                    <li class="item">
                      <img src="<%= cast.person.headshot.url(:cropped_thumb) %>"/>
                      <p><%= cast.character %></p>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
          <% @show.seasons.order(:number).each do |s| %>
                <li>
                <h5>Сезон <%= s.number %></h5>
                <a href="<%= show_season_path @show.slug_ru, "%02d" % s.number %>"><img src="<%= s.poster.url(:thumb) %>"/></a>
                </li>
          <%end%>
          </ul>
        </div>
      </div>
    </div>
