<section class="episode">
  <div class="show-fanart">
    <% if @episode.screenshot.width < 1200 || !@episode.screenshot.exists? %>
      <img src="<%= @show.fanart.url(:original) %>"/>
    <% else %>
      <img src="<%= @episode.screenshot.url(:original) %>"/>
    <% end  %>
  </div>
  <div class="row">
    <div class="small-12 column text-center" data-no-transition-cache>
      <h1><%= @episode.title_ru %></h1>
      <h5><%= @episode.title_en %></h5>
      <%= @episode.description_ru %>
      <% @episode.translations.each do |e| %>
          <h4><%= e.translator.name unless e.translator.nil?%></h4>
          <div class="flex-video widescreen">
          <div data-videoplayer="<%= e.id %>" id="player_<%= e.id %>"></div>
          </div>
      <% end %>
    </div>
  </div>
</section>