<section class="season">
<div class="show-fanart show-for-medium-up">
  <img src="<%= @show.fanart.url(:original) %>"/>
  <div class="show-info-params">
    <div class="row">
      <div class="small-9 small-offset-3 columns">
        <h1><%= @show.title_ru %>, сезон <%=@season.number%></h1>
      </div>
    </div>
  </div>
</div>
<div class="row show-details">
  <div class="medium-3 small-centered medium-uncentered columns show-poster">
    <div class="sticky-sidebar">
        <img src="<%= @season.poster.url(:medium) %>" alt="<%= @show.title_ru  %>, сезон <%=@season.number%>"/>
    </div>
  </div>
  <div class="medium-9 columns">
    <div class="row">
      <div class="large-12 columns show-description">
        <div class="description"><%= @season.description_en %></div>
      </div>
    </div>
    <div class="row">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @season.episodes.order(:number).each_with_index do |e, index| %>
      <li class="show-episodes">
        <a href="<%= show_episode_path @show.slug_ru, "%02d" % @season.number, "%02d" % e.number %>"><img src="<%= e.screenshot.url(:thumb) %>"/></a>
        <h5>
          <%= e.title_ru %><br>
          <span><%= e.title_en %></span>
          <span><%= Russian::strftime(e.first_aired, "%d %B %Y") unless e.first_aired.nil? %></span>
        </h5>
        <h6>Эпизод <%= e.number %></h6>
      </li>
      <% end %>
      </ul>
    </div>
    <div class="row">
      <h3>Другие сезоны</h3>
      <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
      <% @show.seasons.present.where.not( number: @season.number).each do |s| %>
          <li>
            <h5>Сезон <%= s.number %></h5>
            <a href="<%= show_season_path @show.slug_ru, "%02d" % s.number %>"><img src="<%= s.poster.url(:thumb) %>"/></a>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
</section>