<!DOCTYPE html>
<html data-ng-app="admin" data-ng-strict-di>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Admin Panel - Zumbaster' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= stylesheet_link_tag 'admin/admin', media: 'all'%>
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag '//yandex.st/swfobject/2.2/swfobject.min.js' %>
  <%= javascript_include_tag 'admin/admin' %>
</head>
<body data-ng-controller="MainCtrl as main">
<%= render "partials/modals" %>
<div class="contain-to-grid sticky top-menu">
  <nav class="top-bar" data-topbar role="navigation">
    <%= render "admin/partials/top_menu" %>
  </nav>
</div>
<section class="main-section">
  <% unless notice.nil? %><div data-message="notice"><%= notice %></div><% end %>
  <% unless alert.nil? %><div data-message="alert"><%= alert %></div><% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</section>
<%= render "admin/partials/footer" %>
</body>
</html>