<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Zumbaster' %></title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'admin/admin' %>
</head>
<body data-ng-app="admin" data-ng-cloak>
<%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>