<!DOCTYPE html>
<html data-ng-app="admin" data-ng-strict-di>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Admin Panel - Zumbaster' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'admin/admin', media: 'all'%>
  <%= csrf_meta_tags %>
  <!--<base href="<%= request.original_fullpath %>">-->
  <base href="/admin/">
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag '//yandex.st/swfobject/2.2/swfobject.min.js' %>
  <%= javascript_include_tag 'admin/admin' %>
</head>
<body data-ng-controller="MainCtrl as main" layout="row">
  <%= render "admin/partials/top_menu" %>
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
      <% unless notice.nil? %><dialog-message data-type="Внимание"><%= notice %></dialog-message><% end %>
      <% unless alert.nil? %><dialog-message data-type="Внимание"><%= alert %></dialog-message><% end %>
      <%= render "admin/partials/main_toolbar" %>
      <md-content ui-view md-scroll-y flex layout-padding>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </md-content>
  </div>
<%= render "admin/partials/footer" %>
</body>
</html>