<!DOCTYPE html>
<html data-ng-app="zumbaster" data-ng-strict-di>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'HdSerials' %> - Смотреть сериалы в хорошем качестве онлайн - Hd-Serials.tv</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag '//yandex.st/swfobject/2.2/swfobject.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="contain-to-grid sticky top-menu">
        <nav class="top-bar" data-topbar role="navigation">
          <%= render "partials/top_menu" %>
        </nav>
    </div>
    <section class="main-section">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
    <%= render "partials/footer" %>
</body>
</html>