<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name='yandex-verification' content='463ee9c64c7bf5e6' />
  <meta name="google-site-verification" content="sqlTzoO8nxKhGa126DvedQoOqrq_1QmODkoXw9lVpMM" />
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
  <%= disqus_init %>
</head>
<body data-ng-controller="MainCtrl as main">
<%= render "partials/modals" %>
    <div class="contain-to-grid sticky top-menu">
        <nav class="top-bar" data-topbar role="navigation" data-options="custom_back_text: false">
          <%= render "partials/top_menu" %>
        </nav>
    </div>
    <section class="main-section">
      <% unless notice.nil? %><div data-message="notice"><%= notice %></div><% end %>
      <% unless alert.nil? %><div data-message="alert"><%= alert %></div><% end %>
      <div class="row" style="padding-top: 85px;">
        <div class="columns small-7">
          <p><b>Внимание!</b> Сайт временно работает в ограниченном режиме. Возможны проблемы с соединением и
            нормальным функционированием. В связи с очень большой нагрузкой мы вынуждены искать другой, более производильный хостинг.
            Так как мы против рекламы на сайте во всех ее проявлениях, поддерживать проект приходится на полном энтузиазме с большими
            финансовыми затратами. Если вы готовы оказать небольшую финансовую помощь, пишите на <a href="mailto:info@hd-serials.tv">info@hd-serials.tv</a></p>
        </div>
        <div class="columns small-5">
          <p style="text-align:center">
            <iframe frameborder="0" allowtransparency="true" scrolling="no"
                    src="https://money.yandex.ru/embed/shop.xml?account=410014093178163&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BD%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+HD-Serials.tv&targets-hint=&default-sum=50&button-text=04&successURL="
                    width="450" height="198"></iframe>
          </p>
        </div>
      </div>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
    <%= render "partials/footer" %>
    <%= analytics_init if Rails.env.production? %>
</body>
</html>