<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name='yandex-verification' content='463ee9c64c7bf5e6' />
  <meta name="google-site-verification" content="sqlTzoO8nxKhGa126DvedQoOqrq_1QmODkoXw9lVpMM" />
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
</head>
<body data-ng-controller="MainCtrl as main">
    <div class="contain-to-grid sticky top-menu">
        <nav class="top-bar" data-topbar role="navigation">
          <%= render "partials/top_menu" %>
        </nav>
    </div>
    <section class="main-section">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
    <%= render "partials/footer" %>
    <%= analytics_init if Rails.env.production? %>
</body>
</html>