<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
</head>
<body data-ng-controller="MainCtrl as main">
    <div class="contain-to-grid sticky top-menu">
        <nav class="top-bar" data-topbar role="navigation">
          <%= render "partials/top_menu" %>
        </nav>
    </div>
    <section class="main-section">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
    <%= render "partials/footer" %>
</body>
</html>