<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Zumbaster' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <base href="<%= request.original_fullpath %>">
  <%= yield :stylesheets %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag '//yandex.st/swfobject/2.2/swfobject.min.js' %>
  <%= javascript_include_tag 'application' %>
</head>
<body data-ng-app="zumbaster" data-ng-cloak>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
        <nav class="tab-bar" data-topbar role="navigation">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
          <section class="middle tab-bar-section">
            <h1 class="title">Zumbaster</h1>
          </section>
        </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Zumbaster</label></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
    <section class="main-section">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
</body>
</html>